header {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid purple;
  /* 下の区切り線を紫に */
  align-items: center;
  font-weight: bold;
  box-sizing: border-box;
}

.title {
  margin-right: auto;
  font-size: 30px;
  margin-bottom: 5px;

}

.nav {
  display: flex;
  justify-content: center;
}

.menu-group {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  /* メニュー間の間隔 */
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
  /* リンクの色を黒 */
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
}

.menu-item :hover {
  background-color: lightgray;
  /* ホバー時の背景色 */
}

.Main-Image {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* 画面全体をカバー */
  background: linear-gradient(to bottom, rgba(152, 233, 209, 1) 33%, rgba(229, 162, 255, 1));
  background-attachment: fixed;
  /* スクロールしても背景を固定 */
  overflow-x: hidden;
}

.image-container {
  position: relative;

  width: 100%;
  /* 適宜調整 */
  height: 100%;
  display: flex;
  justify-content: center;
  /* 水平方向（左右）中央揃え */
  align-items: center;
  /* 垂直方向（上下）中央揃え */

}

.main-image {
  width: 100%;
  height: 80%;
  right: 50%;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  /* 重ねる画像のサイズ */
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.left-arrow {
  left: 500px;
}

.right-arrow {
  right: 500px;
}

footer {
  border-top: 5px solid lightgreen;
}

.teams {
  position: absolute;
  left: 30%;
  top: 320%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team {
  cursor: pointer;
  padding: 5px;
  margin: 10px 0;
  font-size: 25px;
  transition: transform 0.3s;
}

.selected {
  font-size: 22px;
  font-weight: bold;
  border: 2px solid purple;
  display: inline-block;
  padding: 3px 10px;
}

.introduce {
  position: absolute;
  left: 30%;
  top: 305%;
  transform: translateX(-50%);
  font-size: 40px;
  width: 500px;
  text-align: center;

}

.description {
  position: absolute;
  left: 50%;
  top: 320%;
  transform: translateX(-50%);
  font-size: 18px;
  width: 500px;
  text-align: center;
}

.top-arrow {
  cursor: pointer;
  font-size: 24px;
  color: skyblue;
  user-select: none;
}

.bottom-arrow {
  cursor: pointer;
  font-size: 24px;
  color: skyblue;
  user-select: none;
}
